<link href="../css/about.css" type="text/css" rel="stylesheet">

<div class="container">
    <h1>About us</h1>
    <p>We are University of Washington - Bothell students who love challenges. We develop a
        home security system - PicAlert for people who cannot afford expensive home
        security system.</p>
    <table cellpadding="2" cellspacing="2">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><img class="dogPicture" src="../img/dog.jpg"></td>
            <td><img class="catPicture" src="../img/ha.jpg"></td>
            <td><img class="lionPicture" src="../img/lion3.jpg"></td>
            <td><img class="mariePicture" src="../img/mPicture.jpg"></td>
            <td><img class="elePicture" src="../img/ele.jpg"></td>
        </tr>
        <td class="center">Skyler</td>
        <td class="center">Alan</td>
        <td class="center">Marijn</td>
        <td class="center">Chia</td>
        <td class="center">Peter</td>
        <tr>
            <td>Computer Science</td>
            <td>Computer Science</td>
            <td>Computer Science</td>
            <td>Business Concentration</td>
            <td>Computer Science</td>
        </tr>
        <tr>
            <td>Personal Info</td>
            <td>Personal Info</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr></tr>

        </tbody>
    </table>


</div>


