<html lang="en">
<head>
  <link href="../css/contact.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
  <h1>Contact Us</h1>
<p> We would love to hear from you!</p>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
      <form id='contact' action='contact.php' method='post' accept-charset='UTF-8'>
        <fieldset>
          <legend>Contact</legend>
          <input type='hidden' name='contact' id='submitted' value='2'>
          <div class="container">
            <form role="form">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="name" class="form-control" id="name"
                placeholder="Enter name">
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email"
                placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="comment">Comments:</label>
                <input type="text" class="form-control" id="lg"
                placeholder="Enter comment">
                <head>
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
                  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                </head>
              </br>
              <button type="submit" class="btn btn-warning">Submit</button>
              </div>
            </form>
          </div>
</body>
