<div class="container">
    <div class="col-md-8">
        <div id="your-devices" class="panel panel-default">
            <div class="panel-heading">
                Devices
                <i id="add-new-device" class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="panel-body">
                <table ng-repeat="device in devices" class="device-dashboard">
                    <tr>
                        <td class="device-status-column">
                            <table>
                                <tr>
                                    <td>
                                        <div class="ng-hide" ng-hide="!device.armed">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </div>
                                        <div class="ng-hide" ng-hide="device.armed">
                                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="device-info-alerts">
                                            0 <!-- reflects number of unread alerts -->
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="device-info-column">
                            <div class="device-info-name">{{device.device_name}}</div>
                            <div class="device-info-id">{{device.device_id}}</div>
                        </td>
                        <td class="device-control-column">
                            <table>
                                <tr>
                                    <td>
                                        <i class="fa fa-pencil device-control-edit" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-times device-control-remove" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Alerts
            </div>
            <div class="panel-body">
                No alerts.
            </div>
        </div>
    </div>
</div>
