<!-- jumbotron -->
<div class="jumbotron">
    <div class="container text-center">
        <h1>PicAlert</h1>
        <p align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, dolor vel imperdiet ullamcorper, diam massa pulvinar purus, eget cursus tortor neque eget nisi. Ut pharetra, mauris ut dictum pharetra, erat ligula varius eros, in ultricies elit ante et enim. Praesent suscipit elit sit amet dictum pulvinar.</p>

        <div class="btn-group text-center">
            <!-- btn-warning=orange, btn-info=sky-blue, btn-primary=blue, btn-default=transparent, danger=red -->
            <a href="" class="btn btn-lg btn-info">Easy</a>
            <a href="" class="btn btn-lg btn-default">Affordable</a>
            <a href="#reviews" class="btn btn-lg btn-info">Reviews</a>
            <a href="#follow" class="btn btn-lg btn-default">Follow Us</a>

        </div>
    </div><!-- End container -->
</div><!-- End Jumbotron -->

<div class="container">
    <section>
        <div class="page-header" id="reviews">
            <h2>Reviews<small> from our users </small></h2>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, dolor vel imperdiet ullamcorper, diam massa pulvinar purus, eget cursus tortor neque eget nisi.</p>
                    <footer>Customer 1</footer>
                </blockquote>
            </div>

            <div class="col-lg-4">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, dolor vel imperdiet ullamcorper, diam massa pulvinar purus, eget cursus tortor neque eget nisi.</p>
                    <footer>Customer 2</footer>
                </blockquote>
            </div>

            <div class="col-lg-4">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, dolor vel imperdiet ullamcorper, diam massa pulvinar purus, eget cursus tortor neque eget nisi.</p>
                    <footer>Customer 3</footer>
                </blockquote>
            </div>
        </div><!-- End Row -->
    </section>
</div><!-- End Container -->

<!-- Call to Action -->
<section>
    <div class="well">
        <div class="container text-center">
            <h3>Subscribe to our email newsletter for weekly tips on how to keep your home safe!</h3>
            <form action="" class="form-inline">
                <div class="form-group">
                    <!--
                    <label for="email">Email Address</label>
                    -->
                    <input type="text" class="form-control" id="email" placeholder="Enter Your Email">
                </div>
                <button type="submit" class="btn btn-warning">Subscribe</button>
            </form>
        </div>
        <br>
    </div><!-- End Well -->
</section> <!-- Call to Action -->

<!-- Gallery -->
<div class="container">
    <section>
        <div class="page-header" id="gallery">
            <h2>Gallery. <small> Check out the awesome gallery</small></h2>
        </div>

        <div class="carousel slide" id="#screenshot-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="screenshot-carousel" data-slide-to="0" class="active"></li>
                <li data-target="screenshot-carousel" data-slide-to="1"></li>
                <li data-target="screenshot-carousel" data-slide-to="2"></li>
                <li data-target="screenshot-carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">

                </div>
            </div>
        </div><!-- end Carousel -->
    </section>
</div>




<!-- Social Media Links -->
<div class="container" id="follow">
    <div class="page-header" style ="float:right">
        <div class="Follow">
            <h2>Follow Us</h2>
            Be the first to know about our new products and releases
        </div>

        <ul class="contact" style="list-style-type:none; margin:0; padding:0;">
            <li><a href="https://www.facebook.com/" title="Facebook">
                <img src="http://i.imgur.com/umDsi9f.png"
                     width ="50px" height = "50px"><span>Facebook</span></a></li>

            <li><a href="https://www.instagram.com/" title="Instagram">
                <img src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Instagram-512.png"
                     width ="50px" height = "50px"><span>Instagram</span></a></li>

            <li><a href="https://www.tumblr.com/" title="Tumblr">
                <img src="http://goo.gl/zlqy0A"
                     width ="50px" height = "50px"><span>Tumblr</span></a></li>

            <li><a href="https://twitter.com/?lang=en" title="Twitter.">
                <img src="https://www.jbs.org/store/skin/frontend/rwd/default/images/twitter-icon.png"
                     width ="50px" height = "50px"><span>Twitter</span></a></li>



        </ul>
    </div>
</div>