<link rel="stylesheet" type="text/css" href="../css/home.css">

<!-- jumbotron -->
<div class="jumbotron">
    <div class="container text-center">
        <h1>PicAlert</h1>
        <h2>Better alerts, directly to you</h2>
        <p align="left">PicAlert is an inexpensive, easy-to-use home security system. Simply set up the device, register to our website,
        and you will be able to monitor any disturbances in your home while you are out and about. The device will send a picture directly
        to your phone whenever it detects movement in the house. </p>

        <div class="btn-group text-center">
            <!-- btn-warning=orange, btn-info=sky-blue, btn-primary=blue, btn-default=transparent, danger=red -->
            <a href="" class="btn btn-lg btn-info">Easy</a>
            <a href="" class="btn btn-lg btn-default">Affordable</a>
            <a href="#reviews" class="btn btn-lg btn-info">Reviews</a>
            <a href="#follow" class="btn btn-lg btn-default">Follow Us</a>
        </div>
    </div><!-- End container -->
</div><!-- End Jumbotron -->


<!-- How to use timeline -->
<section class="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Easy to use.</h1>
                <p>Protect your home in a matter of minutes. Here's how to do it.</p>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-upload"></i>
                            </i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Register your device online.</h2>
                            <p>Simply register an account on our website. Input the device serial and
                                pin that came with your device and register your phone number. This will connect
                                the device to your phone so that you can immediately receive alerts from anywhere.
                            </p>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-video-camera"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Place and connect device.</h2>
                            <p>Running the device is as simple switching it on, and mounting it
                                around the house. The device will automatically sense movement when
                                you are not home, and take a picture of who is creeping through your house.
                            </p>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-mobile-phone"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Get alerts directly to you.</h2>
                            <p>By activating the device when you are not home, you will be instantly notified
                                whether you are at work, at the gym, or anywhere in the world with an LG connection.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>




<!-- Affordable -->
<section id="affordable" class="alt">
    <div class="container">
        <div class="row">
            <div class="feature-content">
                <div class="col-lg-6 left">
                    <h1>Affordable</h1>
                    <h3>Stop paying hundreds of dollars every month.</h3> <p>The PicAlert device has a one-time fee at an affordable price.
                    You will only be charged everytime at alert is sent, which cost as much as a text message.</p>
                    <!--  <img src="http://www.clipartbest.com/cliparts/MiL/e69/MiLe69gia.png"> -->
                </div>
                <div class="col-lg-6 right">

                    <img src="http://keystrokesfl.com/wp-content/uploads/2014/05/icon_13.png">

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reviews -->
<div class="container">
    <section>
        <div class="page-header" id="reviews">
            <h2>Reviews<small> from our users </small></h2>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, dolor vel imperdiet ullamcorper, diam massa pulvinar purus, eget cursus tortor neque eget nisi.</p>
                    <footer>Customer 1</footer>
                </blockquote>
            </div>

            <div class="col-lg-4">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, dolor vel imperdiet ullamcorper, diam massa pulvinar purus, eget cursus tortor neque eget nisi.</p>
                    <footer>Customer 2</footer>
                </blockquote>
            </div>

            <div class="col-lg-4">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, dolor vel imperdiet ullamcorper, diam massa pulvinar purus, eget cursus tortor neque eget nisi.</p>
                    <footer>Customer 3</footer>
                </blockquote>
            </div>
        </div><!-- End Row -->
    </section>
</div><!-- End Container -->
<!-- End Reviews -->

<!-- Call to Action: Subscribe to our newsletter -->
<section>
    <div class="well">
        <div class="container text-center">
            <h3>Subscribe to our email newsletter for weekly tips on how to keep your home safe!</h3>
            <form action="" class="form-inline">
                <div class="form-group">
                    <!--
                    <label for="email">Email Address</label>
                    -->
                    <input type="text" class="form-control" id="email" placeholder="Enter Your Email">
                </div>
                <button type="submit" class="btn btn-warning">Subscribe</button>
            </form>
        </div>
        <br>
    </div><!-- End Well -->
</section> <!-- End Call to Action: Subscribe to our newsletter -->


<!-- Social Media Links -->
<div class="container" id="follow">
    <div class="page-header" style ="float:right">
        <div class="Follow">
            <h2>Follow Us</h2>
            Be the first to know about our new products and releases
        </div>

        <ul class="contact" style="list-style-type:none; margin:0; padding:0;">
            <li><a href="https://www.facebook.com/" title="Facebook">
                <img src="http://i.imgur.com/umDsi9f.png"
                     width ="50px" height = "50px"><span>Facebook</span></a></li>

            <li><a href="https://www.instagram.com/" title="Instagram">
                <img src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Instagram-512.png"
                     width ="50px" height = "50px"><span>Instagram</span></a></li>

            <li><a href="https://www.tumblr.com/" title="Tumblr">
                <img src="http://goo.gl/zlqy0A"
                     width ="50px" height = "50px"><span>Tumblr</span></a></li>

            <li><a href="https://twitter.com/?lang=en" title="Twitter.">
                <img src="https://www.jbs.org/store/skin/frontend/rwd/default/images/twitter-icon.png"
                     width ="50px" height = "50px"><span>Twitter</span></a></li>
        </ul>
    </div>
</div>
<!-- End Social Media Links -->


