/*  classes for navbar sizing adjustments  */
.navbar {
  /*padding: 7px 0px 7px 5px;*/
  background:rgba(40,40,40,1);
  padding-bottom: 5px;
  padding-top: 5px;
}

.navbar-nav {
  font-size: 18px;
}

.navbar-logo {
  height: 50px;
}

.navbar-logo-wrapper {
  padding: 0px 15px;
  size: 50px 138px;
}
